@font-face {
    font-family: 'san-reg';
    src: url("../fonts/SourceSansPro-Regular.woff");
}

@font-face {
    font-family: 'san-bold';
    src: url("../fonts/SourceSansPro-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'san-reg';
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* CSS RESET END */

body {
    background-color: rgb(255, 255, 255);
}

body.active {
    overflow: hidden;
}

/* NAVBAR START */


.navbar-home .top-navbar {
    background-color: #F4C4CB;
    padding: 5px 0;
}

.navbar-home .top-navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-home .top-navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.navbar-home .top-navbar ul li {
    list-style: none;
    margin-left: 10px;
}

.navbar-home .top-navbar input,
.left-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 2px 5px;
}

.item-form {
    border-bottom: 1px solid black;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-home .bottom-navbar {
    background-color: #EE668D;
    padding: 5px 0;
}

.navbar-home .bottom-navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
}

.navbar-home .bottom-navbar ul li {
    list-style: none;
    margin-left: 10px;
}

.navbar-home .bottom-navbar ul li a {
    color: white;
}

.navbar-home .btn-nav .item-btn {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: black;
    border-radius: 15px;
}

.navbar-home .btn-nav {
    display: none;
}

@media (max-width:767px) {
    .navbar-home .bottom-navbar {
        display: none;
    }

    .navbar-home .btn-nav {
        display: block;
    }

    .navbar-home .top-navbar {
        padding: 0;
    }

    .navbar-home .top-navbar .container {
        padding: 0px 15px !important;
    }

    .navbar-home .top-navbar .input .item-form {
        display: none;
    }

    .navbar-home .top-navbar .icon ul {
        display: flex;
        justify-content: space-between;
    }

    .navbar-home .top-navbar .icon ul svg {
        width: 16px;
        text-align: center;
    }

    .navbar-home .top-navbar input,
    .left-bar input {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 2px 5px;
        color: white;
    }

    .item-form {
        border-bottom: 1px solid white;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

/* NAVBAR END */


/* LEFT BAR START */
.left-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.left-bar.active {
    z-index: 999;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.left-bar .background-left-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.left-bar .content-left-bar {
    width: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: #EE668D;
    transform: translateX(-250px);
    transition: 0.5s ease-in-out;
}

.left-bar.active .content-left-bar {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.left-bar .content-left-bar .info-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px;

}

.left-bar .content-left-bar hr {
    margin: 0;
}

.left-bar .content-left-bar .info-user a {
    color: white;
    font-size: 13.5px;
}

.left-bar .content-left-bar .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.left-bar .content-left-bar .option b {
    color: #a00814;
    font-weight: 700;
}

.left-bar .content-left-bar .option p {
    font-size: 12px;
}

.left-bar .content-left-bar .menu .item-menu {
    padding: 0px 25px;
    margin: 20px 0;
}

.left-bar .content-left-bar .menu .item-menu a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-bar .content-left-bar .menu .item-menu img {
    width: 20px;
    margin-right: 15px;
}

.left-bar .content-left-bar .menu .item-menu a {
    color: white;
}

/* LEFT BAR END */

.footer {
    background-color: #F4C4CB;
    margin-top: 25px;
}

.footer a {
    color: black;
}

.footer p {
    margin: 5px 0;
}

.footer h4 {
    font-family: "san-bold";
}

.footer .content-top {
    max-width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .content-top .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .line {
    width: 100%;
    height: 2px;
    background-color: #EA4071;
    margin: 5px 0;
}

.footer .content-bottom {
    max-width: 85%;
    margin: auto;
    text-align: center;
    padding: 10px 15px !important;
}

.footer .content-bottom .content {
    display: none;
}

.footer .content-top .icon-footer svg {
    margin-right: 10px;
}

@media (max-width:767px) {
    .footer .content-top .right {
        padding: 10px 15px !important;
    }

    .footer .content-top .right {
        align-items: flex-start;
    }

    .footer .content-left {
        display: none;
    }

    .footer .content-top,
    .footer .content-bottom{
        max-width: 100%;
    }

    .footer .content-bottom .content {
        display: block;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }

    .footer .content-bottom .icon-footer {
        text-align: right;
    }


    .footer .content-bottom .icon-footer svg {
        margin-left: 10px;
    }

}